#a {
    border-top: 3px solid rgb(71, 197, 255);
    margin-top: -8px;
}
body{
    background-color: #253545;
    
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.container {
  position: relative;
}

.bottomleft {
  position: absolute;
  bottom: 185px;
  left: 400px;

}
.wishlist{
  border: 2px solid rgb(255, 255, 255);
background: none;
border-radius: 4px;
color: aliceblue;
}

.smlimg{
position: absolute;
left: 100px;

}